
@{
    ViewBag.Title = "Approvemsg";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<marquee direction ="left"><strong><h1 style="color:white">You have succesfully approved the requests.Thank you!!</h1></strong></marquee>

